*{
    margin: 0;
    padding: 0;
}
.body{
    font-size: 1.3rem;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
.row{
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
   
}
.full{
    width: 100%;
    background-color: #79d0e6;
    padding: 8px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav_list{
display: flex;
list-style: none;
}
.nav_item a{
    text-decoration:none;
    color: white;
    margin-left: 2rem;
}
.nav_item a:hover{
    background-color: white;
    color: black;
    border: 1px solid  #23424a;
    padding:8px 5px;
    border-radius: 50px;


}
.hero{
    width: 100%;
    padding:100px 0;
    background-color:  #23424a;
}
.hero_text{
    color: white;
    width: 60%;
}
.btn{
    text-decoration: none;
    background-color:rgb(137, 209, 209);
    color:black;
    border:thistle solid 1px;
    border-radius: 100px;
    padding: .75rem 1rem;
    text-align: center;
    font-weight: bold;
}
.btn.hover,
.btn:focus{
    opacity: .75;
}
.hero_img{
    width: 32%;
    /* align-self: flex-start; */
    /* justify-content: space-between; */
}
img{
    width: 50vh;
    max-width: 100%;
}
 /* main stars here */
 main{
     margin-top: 1rem;
 }
.two-col{
    width: 62%;
}
.three-col{
    width:32%;
    text-align: center;
}
.inner_contained{
    background-color: steelblue;
    text-align: center;
}
.Last{
    background-color:  #23424a;
    color: white;
    margin-top: 1rem;
}
.row .col{
    text-align: center;
}
.col{
    margin-left: 1rem;
}
@media (max-width:600px){
    .row{
        display: block; 
    }
    .hero_img{
        margin-top: 1.2rem;
        width: 80%;
    }
    .three-col{
        margin-top: 1rem;
    }
    .hero_text,
    .two-col,
    .three-col{
        width: 90%;
    }
    .last{
        width: 85%;
    }
    
}